body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-bar {
  display: flex;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  align-items: center;
}

.nav-bar > p {
  margin: 1em;
}

.title {
  color: #0290ff;
  font-family: Montserrat;
  font-size: 30px;
}

.form-input {
  display: flex;
  height: 45px;
  align-items: center;
}

.form-input > * {
  height: 100%;
  width: 20%;
}

.m-1 {
  margin: 0 1em;
}

.form-input > input {
  height: 90%;
  width: 45%;
}

select:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.container {
  width: 90%;
}