body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Roboto Slab', serif;  
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 95px;
}

nav > .title {
  color: #0290ff;
  font-size: 30px;
  font-weight: 600;
}

nav > .option {
  font-size: 13px;
  letter-spacing: 2px;
}

nav > p {
  margin: 0 1em;
}

nav > .user {
  color: #0290ff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.filter {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #888;
}

.filter > * {
  font-size: 20px;
  margin: 1em 1.5em;
}

.actions > button {
  margin: 0 1em 0 0;
  border: none;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
  color: #0290ff;
  border-right: 1px solid lightgray;
  padding-right: 10px;
}

.actions > .no-border {
  border: none;
}

.card {
  background-color: #fff;
  margin: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details > .category {
  color: gray;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.details > .title {
  font-size: 22px;
  font-weight: 600;
}

.details > .author {
  font-size: 14px;
  color: #0290ff;
}

.details > .actions {
  font-size: 14px;
  color: #0290ff;
}

.details > * {
  margin: 1px;
}

.progress {
  display: flex;
  align-items: center;
}

.progress > .image {
  width: 68px;
  height: 68px;
  border: solid 5px #e8e8e8;
  border-radius: 50%;
}

.progress > .text > * {
  margin: 0 21px;
  font-family: 'Montserrat', sans-serif;
}

.progress > .text > .number {
  font-size: 32px;
}

.progress > .text > .status {
  font-size: 14px;
  color: grey
}

.chapter > .title {
  font-size: 13px;
  margin: 5px 0;
  color: #888;
}

.chapter > .name {
  font-size: 16px;
  margin: 5px 0;
}

.chapter > button {
  color: #fff;
  background-color: #0290ff;
  border: none;
  height: 33px;
  width: 183px;
  border-radius: 2px;
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #888;
  border-top: 1px solid lightgray;
  margin: 1em 1.5em;
  justify-content: space-between;
}

.form > h2 {
  font-size: 20px;
  margin: 0.5em 0;
}

.form > .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form > .input > * {
  height: 45px;
  padding: 0;
}

.form > .input > button {
  color: #fff;
  background-color: #0290ff;
  border: none;
  width: 184px;
  border-radius: 2px;
  margin: 10px 0;
  font-weight: 600;
}

input,
select {
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px grey;
  color: grey;
  padding: 0 1em;
  background-color: #fff;
}

button {
  font-family: 'Roboto Slab', serif;  
}